/* 添加 CSS */
body {
  /*text-align:center*/

}

#divcss1 {
  margin: 0 auto;
  padding: 1em 1em;
  border: 1px solid #dddddd;
  width: 350px;
  height: auto;
}

#divcss2 {
  margin: 0 auto;
  border: 1px solid #dddddd;
  width: 300px;
  height: auto;
}

.leftPadding {
  padding: 0 1em 0 1em;

}

.bottomPadding {
  padding: 0 0 1em 0;
}

.topPadding {
  padding: 1em;
}

.cardImage {
  width: 300px;
  padding: 0 1em 1em 1em;
}

.bold {
  font-weight: bolder;
}

.list {
  list-style: none;
}

.textItalic {
  font-style: oblique;
}

span {
  margin: 0 0 0 -40px;
}
